@model IEnumerable<SGLClientBase.Models.ProductFinal>

<h2>SGL</h2>


@{int client = 0;}


@foreach (var item in Model)
{

    ++client;

}





@{int yearsT = 0;}


@{double sumDPrice = 0;}
@{double averageDPrice = 0;}


@{
    int averageAge = yearsT / Model.Count();

}

@foreach (var item in Model)
{

    DateTime Dob = item.ReleaseDate;

    int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
    int dob = int.Parse(Dob.ToString("yyyyMMdd"));
    int age = (now - dob) / 10000;

    yearsT += age;


    sumDPrice = sumDPrice + Convert.ToInt32(item.DollarPrice);



}

@{
    averageDPrice = sumDPrice / Model.Count();
    averageDPrice = (Math.Truncate(averageDPrice * 100) / 100);
}

@{
    double USDtoEUR = Convert.ToDouble(ViewBag.USDtoEUR);
    double USDtoJPY = Convert.ToDouble(ViewBag.USDtoJPY);
    double USDtoCAD = Convert.ToDouble(ViewBag.USDtoCAD);

    double averageEUPrice = averageDPrice * USDtoEUR;
    double averageJPrice = averageDPrice * USDtoJPY;
    double averageCPrice = averageDPrice * USDtoJPY;

}


@{
    if (Model.Count() != 0)
    {
        averageAge = yearsT / Model.Count();
    }

}



<img src="~/img/databaseBack.jpg" class="img-responsive" style="border-radius:5px" />


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:5px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:5px">

        <div class="col-lg-12 text-center">
            <h2><i class="fa fa-server"></i> Products Statistics</h2>
        </div>



    </header>

    <hr />

    <div class="w3-row-padding w3-margin-bottom">

        <div class="w3-third">
            <div class="w3-container w3-blue-grey w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>@Model.Count()</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Number of Products</h4>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-envelope w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>$@averageDPrice</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Average Dollar price</h4>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-container w3-purple w3-padding-16">
                <div class="w3-left"><i class="fa fa-yahoo w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>€@averageEUPrice</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Average Euro price</h4>
            </div>
        </div>
    </div>


    @{

        int less50 = 0;
        int bet50and200 = 0;
        int more200 = 0;

        int less50P = 0;
        int bet50and200P = 0;
        int more200P = 0;
    }


    @{


        foreach (var item in Model)
        {

            if (item.DollarPrice < 50)
            {
                ++less50;
            }
            else if (item.DollarPrice >= 50 && item.DollarPrice < 200)
            {
                ++bet50and200;
            }
            else if (item.DollarPrice > 200)
            {
                ++more200;
            }
        }


        // PERCENTAGES //

        less50P = less50 * 100 / Model.Count();
        bet50and200P = bet50and200 * 100 / Model.Count();
        more200P = more200 * 100 / Model.Count();

    }


    <div class="col-lg-12 text-center">
        <h2>Price</h2>

    </div>

    <hr />

    <div class="w3-panel">
        <hr />

        <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-large">
                <h5><b>Age Stats</b></h5>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                        <td><i class="fa fa-user-circle w3-text-red w3-large"></i></td>
                        <td>Less than $50 Dollars</td>
                        <td><i>@less50</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-user-circle-o w3-text-yellow w3-large"></i></td>
                        <td>Between $50 and $200 Dollars</td>
                        <td><i>@bet50and200</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-blind w3-text-red w3-large"></i></td>
                        <td>More than $200 Dollars</td>
                        <td><i>@more200</i></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Less than $50', @less50P],
                    ['Between $50 and $200', @bet50and200P],
                    ['More than $200', @more200P]

                ]);

                var options = {
                    title: ''
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
            }
    </script>





    <div class="w3-row-padding w3-margin-bottom w3-bordered w3-border " style="margin-left:1%;margin-right:1%; margin-top:2%">

        <div class="w3-half" style="margin-bottom:0px">
            <div class="w3-container w3-white w3-padding-16">

                <h5><b>Prices Percentage</b></h5>
                <p>Less than $50 Dollars</p>
                <div class="w3-grey">
                    <div class="w3-container w3-center w3-padding w3-red" style="width:@less50P%">@less50P%</div>
                </div>

                <p>Between $50 and $200 Dollars</p>
                <div class="w3-grey">
                    <div class="w3-container w3-center w3-padding w3-blue-grey" style="width:@bet50and200P%">@bet50and200P%</div>
                </div>

                <p>More than $200 Dollars</p>
                <div class="w3-grey">
                    <div class="w3-container w3-center w3-padding w3-green" style="width:@more200P%">@more200P%</div>
                </div>

            </div>
        </div>

        <div class="w3-half">
            <div class="w3-container w3-white w3-padding-16" style="height:230px;">
                <h5 class="w3-center">Prices Pie Chart</h5>
                <div id="piechart" class="" style="width:100%; height:90%; border:0px solid black;"></div>
            </div>
        </div>

    </div>



    <div class="col-lg-12 text-center">
        <h2>Conversions</h2>
        <hr />
    </div>




    <div class="w3-large" style="margin-bottom:0px">

        <hr />

        <div class="w3-container w3-white w3-padding-16">
            <h5 class="w3-center">World Prices</h5>

            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <tr>
                    <td>Average Euro price</td>
                    <td>€@averageEUPrice</td>
                </tr>
                <tr>
                    <td>Average Yen price</td>
                    <td>¥@averageJPrice</td>
                </tr>
                <tr>
                    <td>Average Canadian Dollar price</td>
                    <td>C$@averageCPrice</td>
                </tr>

            </table><br>
        </div>
    </div>




    @{

        List<SGLClientBase.Models.ProductFinal> ultimosA = new List<SGLClientBase.Models.ProductFinal>();

        for (int i = 0; i < 3; i++)
        {
            SGLClientBase.Models.ProductFinal contain = Model.LastOrDefault(element => ultimosA.Contains(element) == false);

            if (contain != null)
            {
                ultimosA.Add(contain);
            }


        }

    }




    <div class="col-lg-12 text-center">
        <h2>Recent</h2>
    </div>



    <div class="w3-container">
        <hr />
        <h5><b>Recent Products</b></h5>

        @if (Model.Count() >= 3)
        {
            foreach (SGLClientBase.Models.ProductFinal item in ultimosA)
            {
                <ul class="w3-ul w3-card-4 w3-white">
                    <li class="w3-padding-16">
                        <img src="~/img/user.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                        <span class="w3-xlarge">@item.Name | @item.Codename</span><br>
                    </li>
                </ul>

            }

        }


    </div>



    <hr>





    <!-- End page content -->
</div>

<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>