@model IEnumerable<SGLClientBase.Models.Client>

<h2>SGL</h2>

<img src="~/img/databaseBack.jpg" class="img-responsive" style="border-radius:0px" />



<style>

    .formStyle {
        border: 1px solid #707070;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .table {
        border-radius: 5px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: white;
        padding: 1px;
        width: 100%
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 0px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        font-size: 15px;
        text-align: center;
    }
</style>


@{int client = 0;}


@foreach (var item in Model)
{

    ++client;

}



@{int withO = 0;}
@{int withE = 0;}
@{int compT = 0;}


@foreach (var item in Model)
{

    if (!String.IsNullOrEmpty(item.Observation))
    {
        ++withO;
    }


    if (!String.IsNullOrEmpty(item.EmailAddress))
    {
        ++withE;
    }


    if (!String.IsNullOrEmpty(item.EmailAddress) && !String.IsNullOrEmpty(item.Observation))
    {
        ++compT;
    }


}




@{int yearsT = 0; }
@{int averageAge = 0;}



@foreach (var item in Model)
{

    DateTime Dob = item.BirthDay;

    int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
    int dob = int.Parse(Dob.ToString("yyyyMMdd"));
    int age = (now - dob) / 10000;

    yearsT += age;


}


@{
    if (Model.Count() != 0)
    {
        averageAge = yearsT / Model.Count();
    }

}





<!-- Stats -->

<div class="w3-row-padding w3-center" style="margin:0 -16px; padding:16px; padding-top:0px;">

    <div class="w3-quarter w3-theme-l1" style="padding:12px; border-bottom-left-radius: 10px;">
        <p><i class="fa fa-user w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">@client</span>
        <br>Number of clients
    </div>
    <div class="w3-quarter w3-theme-l1" style="padding:12px;">
        <p><i class="fa fa-users w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">@averageAge</span>
        <br>Average age
    </div>
    <div class="w3-quarter w3-theme-l1" style="padding:12px;">
        <p><i class="fa fa-align-left w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">@withO</span>
        <br>With Observation
    </div>
    <div class="w3-quarter w3-theme-l1" style="padding:12px; border-bottom-right-radius: 10px;">
        <p><i class="fa fa-check w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">@compT</span>
        <br>Completed
    </div>
</div>




<!--
<div class="formStyle">


    <table class="table">
        <tr>
            <th>
                Number of clients
            </th>
            <th>
                Average age
            </th>
            <th>
                With Observation
            </th>
            <th>
                With Email Address
            </th>

            <th>Completed</th>
        </tr>



        <tr>
            <td>
                @client
            </td>
            <td>
                @averageAge
            </td>
            <td>
                @withO
            </td>
            <td>
                @withE
            </td>
            <td>
                @compT
            </td>

        </tr>


    </table>




</div>
-->

<br />





@{
    if (Model.Count() != 0)
    {
        int obsPercent = (withO * 100) / Model.Count();

        int emailPercent = (withE * 100) / Model.Count();
    }
}

















<div class="col-lg-12 text-center">
    <h1>Clients</h1>
</div>

<div class="col-lg-12 text-center">


    <div class="grid-container">
        <div class="grid-item">
            @Html.ActionLink("Statistics", "Statistics", null, new { @class = "btn btn-primary  btn-block" })
        </div>

        <div class="grid-item">@Html.ActionLink("Add New Client", "Create", null, new { @class = "btn btn-primary  btn-block" }) </div>

        <div class="grid-item">
            <div id="accordion">
                <div class="card">

                    <div class="card-header text-center">

                        <a class="collapsed card-link btn btn-primary  btn-block" data-toggle="collapse" href="#searchId">
                            Search By
                        </a>
                    </div>

                    <div id="searchId" class="collapse" data-parent="#accordion">
                        <div class="card-body">

                            <br />


                            <div>

                                <div class="text-center">

                                    @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
                                    {
                                        @Html.RadioButton("searchBy", "Name", true, new { @class = "form-check-input" }) <text>Name</text>
                                        @Html.RadioButton("searchBy", "Rut", false, new { @class = "form-check-input" }) <text>Rut</text>
                                        @Html.RadioButton("searchBy", "Phone", false, new { @class = "form-check-input" }) <text>Phone</text> <br />
                                        @Html.TextBox("search", null, new { @class = "text-center" }) <br /> <input type="submit" value="Search" class="btn btn-success" style="margin-top:15px" />
                                    }

                                </div>

                            </div>




                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="grid-item">@Html.ActionLink("Generate Report", "ClientReport", null, new { @class = "btn btn-success  btn-block" }) </div>

        <br />

    </div>
</div>

<div class="formStyle">


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th style="width:30px">
                Phone
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>

            <th>


            </th>
        </tr>


        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="9"><div class="col-lg-12 text-center" style="border-radius:0px"><h5>Without results</h5></div></td>
            </tr>
        }

        @foreach (var item in Model)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>


                <td>


                    <!--<input type="checkbox" name="name" value="" />-->

                    @Html.DisplayFor(modelItem => item.Name)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>



                <th style="width:200px">
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </th>
                <td style="width:30px">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rut)
                </td>
                <td>

                    @{
                        if (!String.IsNullOrEmpty(item.Observation))
                        {


                            <div id="accordion">
                                <div class="card">

                                    <div class="card-header text-center">

                                        <img src="~/img/expandIcon.png" style="height:20px" />

                                        <a class="collapsed card-link" data-toggle="collapse" href="#@Html.DisplayFor(modelItem => item.Rut)">
                                            Expand
                                        </a>
                                    </div>

                                    <div id="@Html.DisplayFor(modelItem => item.Rut)" class="collapse" data-parent="#accordion">
                                        <div class="card-body">



                                            <div>
                                                <hr />
                                                <dl class="">

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.Observation)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => item.Observation)
                                                    </dd>

                                                </dl>
                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {


                            <p class="text-center">Empty</p>


                        }
                    }

                    <!-- Observation Accordion -->

                </td>
                <td>

                    <img src="~/img/editIcon.png" style="height:20px" />
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                    <img src="~/img/detailIcon.png" style="height:20px" />
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |

                    <img src="~/img/deleteIcon.png" style="height:20px" />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })

                </td>
            </tr>










        }

    </table>




</div>





















































