@model SGLClientBase.Models.Product

<h2>SGL</h2>

<img src="~/img/productBack.jpg" class="img-responsive" style="border-radius:0px" />

<div class="col-lg-12 text-center">
    <h2>New Product</h2>
    <hr />
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .grid-item {
        border: 1px solid white;
        padding: 20px;
        font-size: 1em;
        text-align: center;

    }

    .form-control {
        width: 250px;
        margin-left: 0px;
        /*border: 2px solid blue;*/
    }

    .control-label {
        text-align: left;
        width: 150px;
        /*border: 2px solid red;*/
    }

    .form-group {
        /*border: 2px solid green;*/
    }
</style>


<hr />

@using (Html.BeginForm("Create", "ProductsNew", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="grid-container" style="padding-left:70px;">

    <div class="grid-item">
        <div class="form-group">
            <label for="Name" class="control-label col-md-2"><i class="fa fa-pencil"></i> Name</label>

            <!--<i class="fa fa-font"></i> @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })-->

            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="form-group">
            <label for="Name" class="control-label col-md-2"><i class="fa fa-user-secret"></i> Codename</label>

            <!--@Html.LabelFor(model => model.Codename, htmlAttributes: new { @class = "control-label col-md-2" })-->

            <div class="col-md-10">
                @Html.EditorFor(model => model.Codename, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codename, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="form-group">

            <label for="Name" class="control-label col-md-2"><i class="fa fa-calendar"></i> Release Date</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "12/24/2001" } })

                @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="form-group">

            <label for="DollarPrice" class="control-label col-md-2"><i class="fa fa-money"></i> Dollar Price</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.DollarPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DollarPrice, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="form-group">

            <label for="DollarPrice" class="control-label col-md-2"><i class="fa fa-align-left"></i> Description</label>

            <!--@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })-->

            <div class="col-md-10">
                <!--@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })-->


                <textarea class="control-label col-md-2" style="width: 250px;" name="Description" id="Description" rows="6" cols="350">Description here</textarea>





                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="grid-item">
        <div class="form-group">

            <label for="DollarPrice" class="control-label col-md-2"><i class="fa fa-picture-o"></i> Image</label>

            <!--@Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })-->

            <div class="col-md-10">
                <input type="file" name="ImageFile" required />
            </div>
        </div>
    </div>

</div>

<div class="w3-center">
    <hr />

    <input type="submit" value="Create" class="btn btn-default w3-center" />

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default w3-center" })
    </div>
</div>

}