@model IEnumerable<SGLClientBase.Models.Employee>

<h2>SGL</h2>

<img src="~/img/emploBack.jpg" class="img-responsive" style="border-radius:0px" />


<!--
<div class="col-lg-12 text-center" style="border-radius:0px">
    <h1>Overview</h1>
</div>
-->


<style>

    .formStyle {
        border: 1px solid #707070;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .table {
        border-radius: 5px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: white;
        padding: 1px;
        width: 100%
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 0px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        font-size: 15px;
        text-align: center;
    }
</style>

@{// ANALIZANDO DATOS
}



@{int yearsT = 0; }
@{int averageAge = 0;}


@foreach (var item in Model)
{

    DateTime Dob = item.BirthDay;

    int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
    int dob = int.Parse(Dob.ToString("yyyyMMdd"));
    int age = (now - dob) / 10000;

    yearsT += age;


}


@{
    if (Model.Count() != 0)
    {
        averageAge = yearsT / Model.Count();
    }

}



@{int emplo = 0;
    int sumSallary = 0;
    int promSallary = 0;
    int largeSallary = 0;

    List<int> deleteList = new List<int>();}


@foreach (var item in Model)
{

    ++emplo;

    sumSallary = sumSallary + Convert.ToInt32(item.DollarSalary);

    if (sumSallary != 0)
    {
        promSallary = sumSallary / Model.Count();
    }

    if (Convert.ToInt32(item.DollarSalary) >= 10000)
    {
        ++largeSallary;
    }



}



<!-- Stats -->

<div class="w3-row-padding w3-center" style="margin:0 -16px; padding:16px; padding-top:0px;">

    <div class="w3-quarter w3-theme-l1" style="padding:12px; border-bottom-left-radius: 10px;">
        <p><i class="fa fa-user w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">@emplo</span>
        <br>Number of Employees
    </div>
    <div class="w3-quarter w3-theme-l1" style="padding:12px;">
        <p><i class="fa fa-users w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">@averageAge</span>
        <br>Average age
    </div>
    <div class="w3-quarter w3-theme-l1" style="padding:12px;">
        <p><i class="fa fa-money w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">$@promSallary</span>
        <br>Average Sallary
    </div>
    <div class="w3-quarter w3-theme-l1" style="padding:12px; border-bottom-right-radius: 10px;">
        <p><i class="fa fa-bolt w3-xxlarge w3-text-light-grey"></i></p>
        <span class="w3-xxlarge">@largeSallary</span>
        <br>+$10000 Sallary
    </div>
</div>



<br />


<!--____________________________________________________________________________________________________-->




<div class="col-lg-12 text-center">
    <h1>Employees</h1>
</div>

<div class="col-lg-12 text-center">


    <div class="grid-container">
        <div class="grid-item darkButton">
            @Html.ActionLink("Statistics", "Statistics", "Employees", new { @class = "btn w3-dark-grey  btn-block" })
        </div>

        <div class="grid-item">@Html.ActionLink("Add New Employee", "Create", null, new { @class = "btn w3-dark-grey  btn-block" }) </div>

        <div class="grid-item">
            <div id="accordion">
                <div class="card">

                    <div class="card-header text-center">

                        <a class="collapsed card-link btn w3-dark-grey  btn-block" data-toggle="collapse" href="#searchId">
                            Search By
                        </a>
                    </div>

                    <div id="searchId" class="collapse" data-parent="#accordion">
                        <div class="card-body">

                            <br />


                            <div>

                                <div class="text-center">

                                    @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
                                    {
                                        @Html.RadioButton("searchBy", "Email", true, new { @class = "form-check-input" }) <text>Email</text>
                                        @Html.RadioButton("searchBy", "Rut", false, new { @class = "form-check-input" }) <text>Rut</text>
                                        @Html.RadioButton("searchBy", "Phone", false, new { @class = "form-check-input" }) <text>Phone</text> <br />
                                        @Html.TextBox("search", null, new { @class = "text-center" }) <br /> <input type="submit" value="Search" class="btn btn-success" style="margin-top:15px" />
                                    }

                                </div>

                            </div>




                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="grid-item">@Html.ActionLink("Generate Report", "EmployeeReport", null, new { @class = "btn btn-success  btn-block" }) </div>

        <br />

    </div>
</div>

<div class="formStyle">


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                Birthday
            </th>
            <th>
                Company Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Dollar Sallary
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>

                <b>Actions</b>

            </th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="9"><div class="col-lg-12 text-center" style="border-radius:0px"><h5>Without results</h5></div></td>
            </tr>
        }

        @foreach (var item in Model)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>


                <td>

                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>


                <td style="width:110px">
                    @Html.DisplayFor(modelItem => item.Rut)
                </td>

                <td style="width:30px">
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EmailCompany)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>


                <td>
                    $@Html.DisplayFor(modelItem => item.DollarSalary)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>



                <td>



                    <!--
                    <img src="~/img/editIcon.png" style="height:20px" />
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                    <img src="~/img/detailIcon.png" style="height:20px" />
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |

                    <img src="~/img/deleteIcon.png" style="height:20px" />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    -->

                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })

                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn w3-dark-grey" })

                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })













                </td>
            </tr>










        }

    </table>




</div>


















<!--

<img src="~/img/emploBack.jpg" class="img-responsive" style="border-radius:0px" />




<a class="btn btn-default" style="margin-bottom:10px;" onclick="PopupForm('@Url.Action("AddOrEdit", "Employees")')"><i class="fa fa-plus"></i> Add New</a>

<table id="employeeTable" class="table table-striped table-bordered" style="width:100%">

    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rut</th>
            <th>Birthday</th>
            <th>Company Email</th>
            <th>Phone</th>
            <th>Dollar Salary</th>
            <th>Position</th>
        </tr>
    </thead>



</table>



<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />



@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $("#employeeTable").DataTable({
                "ajax": {
                    "url": "/Employees/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "Rut" },
                    { "data": "BirthDay" },
                    { "data": "EmailCompany" },
                    { "data": "PhoneNumber" },
                    { "data": "DollarSalary" },
                    { "data": "Position" },
                    {"data":"ID" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Employees")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Employee Details',
                    height: 500,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if($(form).valid()){
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success : function (data) {
                        if(data.success)
                        {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message,{
                                globalPosition :"top center",
                                className : "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if(confirm('Are You Sure to Delete this Employee Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Employees")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
    </script>
}

    -->
